<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
	  <services>
		  <service name="BankTest.Service.BankService" behaviorConfiguration="serviceBehavior">
			  <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="BankTest.Service.IBankService" behaviorConfiguration="webHttp">
			  </endpoint>
		  </service>
	  </services>
    <behaviors>
      <serviceBehaviors>
		  <behavior name="serviceBehavior">
			  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
			  <serviceMetadata httpGetEnabled="true" />
			  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
			  <serviceDebug includeExceptionDetailInFaults="false" />
			  <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="2147483647" maxConcurrentSessions="20" />
			  
		  </behavior>
      </serviceBehaviors>
		<endpointBehaviors>
			<behavior name="webHttp">
				<webHttp />
			</behavior>
		</endpointBehaviors>
    </behaviors>
	  <protocolMapping>
		  <add binding="webHttpBinding" scheme="https" />
	  </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
	
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
<connectionStrings><add name="TestBankDBEntities" connectionString="metadata=res://*/BankData.csdl|res://*/BankData.ssdl|res://*/BankData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1E1GUAH\SQLEXPRESS;initial catalog=TestBankDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
